
header{
    display:flex;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 350px;
    margin-top:30px ;
}
#logo {
    height: 50px; /* Adjust image height */
    width: auto; /* Maintain aspect ratio */
    margin: 10px 30px;
    border-radius: 50px;
}
nav a{
    
    padding: 30px;
    font-size:15px;
    text-decoration: none;
    font-size: 20px;
    color: white;

}
body{
    background-color:#333333;
    margin: 0;
}
.home{

    display: flex;
    margin-left: 20px;
    margin-top: 100px;
}

.left{
    width: 200px;
    height: 250px;
    background-color:white;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    border-radius: 30px;
}
.right{
    width: 200px;
    height: 250px;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    border-radius: 30px;
}
.middle{
    width: 200px;
    height: 250px;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    border-radius: 30px;
}
.end{
    width: 200px;
    height: 250px;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    border-radius: 30px;
}
hr{
    width: 95%;
    margin-top: 50px;
}
footer p{
    display: flex;
    justify-content: space-between;
    color:white;
}

.happy{
    width:200px;
    margin-top: 10px;
    height: 210px;
    border-radius: 20px;
}
.about{
    text-align: center;
    color:white;
    margin-top: 60px;
    margin-right: 40px;
    font-size: 40px;
}
.know p{
width: 500px;
color: white;
text-align: center;
margin-left: 350px;
font-size: 20px;
}

.contact{
    margin-left:390px;
    margin-top: 30px;
}
.ford{
    background-color: white;
    width:360px;
    height: 300px;
    border-radius: 20px;
}
.contact h1{
    color:white;
    margin-left: 110px;
    font-size: 30px;
}
.ford input, label{
    margin-left: 40px;
    margin-top: 20px;
}